/*------------------ Variables --------------------*/
:root {
    --primary-color: #3b7ddd;
    ;
    --secondary-color: #265073;
    --bs-card-bg: #ffffff;

    --main-transition: 0.5s;
}

/*------------------ Component --------------------*/
button {
    border: none;
    outline: none;
    background-color: none;
}

.btn {
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--secondary-color);
    padding: 10px 30px;
    border: 1px solid var(--secondary-color);
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}

.btn:hover {
    color: #fff;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

ul {
    margin-bottom: 0;
}

/*------------------ Rules --------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    /* background-color: #f4f5f9; */
    background-color: #ffffff;
}

/*------------------ Home Page -------------------*/
/* Start Navbar */
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #FFF;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid #E1E1E1;
}

nav .logo {
    width: 37%;
}

nav .logo a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-color);
    border: 2.25px solid var(--secondary-color);
    padding: 5px 10px;
}

nav .logo span {
    color: var(--secondary-color);
}

nav .nav-links {
    width: 75%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: right;
    margin-bottom: -2px;
}

nav .nav-links ul li {
    list-style-type: none;
    display: inline-block;
    padding: 8px 15px;
    position: relative;
}

nav .nav-links ul a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

nav .nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--primary-color);
    display: block;
    margin: auto;
    margin-top: 1px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.nav-links ul li:hover::after {
    width: 100%;
}

nav .nav-links li:hover a {
    color: var(--primary-color);
}

nav li a.active {
    color: var(--primary-color);
}

nav .fa-solid {
    display: none;
}

nav .fa-xmark {
    padding-left: 10px;
    color: #fff;
    height: 20px;
    margin-bottom: 10px;
}

nav .fa-bars {
    color: var(--secondary-color);
}

@media (max-width: 1199px) {
    nav {
        padding: 10px 20px;
    }

    .nav-links ul li {
        display: block;
    }

    nav .nav-links {
        position: fixed;
        background-color: var(--secondary-color);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
        justify-content: flex-start;
    }

    nav .fa-solid {
        display: block;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px 0;
        margin-left: -41px;
        margin-top: 20px;
    }

    nav .nav-links ul li {
        display: block;
        margin-bottom: 10px;
    }

    nav .nav-links ul li::after {
        content: '';
        display: none;
    }

    nav .nav-links li:hover a {
        color: #fff;
    }

    nav .nav-links ul a {
        color: #fff;
    }

    nav .btn {
        display: block;
        color: #fff;
        border: 1px solid #fff;
    }

    nav .btn:nth-child(1) {
        margin-bottom: 20px;
    }

    .buttons {
        width: 100%;
        margin-left: 20px;
        position: absolute;
        bottom: 80px;
    }
}

nav .user {
    display: flex;
    align-items: center;
}

nav .user span {
    color: #fff;
    background-color: var(--secondary-color);
    margin-right: 8px;
    padding: 10px 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

nav .user h2 {
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 500;
}

/* Start Landing */

/*home section*/
.home {
    width: 100%;
    height: calc(100vh - 74.4px);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero-bg.4c0f70df.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 70px;
}

.main_home {
    padding-top: 250px;
    padding-bottom: 180px;
    display: block;
}

.main_home h3 {
    color: #fff;
}

.main_home h1 {
    color: #fff;
    margin-bottom: 20px;
}

.main_home p {
    color: #fff;
    max-width: 60%;
    margin: 0 auto;
    padding-bottom: 30px;
    font-size: 20px;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    color: #fff;
    outline: none;
    background: var(--secondary-color);
}

.slick-arrow {
    background: #ddd;
    color: #000;
}

.main_home_slider i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: var(--secondary-color);
}

.main_home_slider i.nextprevleft,
.main_home_slider i.nextprevright {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #000;
    background: #eeeeee;
    position: absolute;
    z-index: 999;
    top: 52%;
    font-size: 20px;
    transition: all 0.6s;
}

.main_home_slider i.nextprevleft {
    float: left;
    left: -60px;
}

.main_home_slider i.nextprevright {
    float: right;
    right: -50px;
}

.main_home_slider i.nextprevleft:hover {
    color: #fff;
    background: var(--secondary-color);
}

.main_home_slider i.nextprevright:hover {
    color: #fff;
    background: var(--secondary-color);
}


.main_home_slider i.nextprevleft {
    left: 0;
    margin-left: 50px;
}

.main_home_slider i.nextprevright {
    right: 0;
    margin-right: 50px;
}

@media (max-width: 1199px) {
    .main_home_slider i {
        display: none !important;
    }

    .main_home p {
        max-width: 100%;
        font-size: 16px;
        padding: 0 10px;
    }
}

/* Start Services */
.services {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 0 50px;
    position: relative;
    margin-bottom: 70px;
}

.main-title {
    text-transform: uppercase;
    margin: 0 auto 70px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}

.main-title::before,
.main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--secondary-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.main-title::before {
    left: -30px;
}

.main-title::after {
    right: -30px;
}

.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
    -webkit-animation: right-move 0.5s linear forwards;
}

.main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}

@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}

.all_services .single_service:hover .single_service_icon {
    border-color: var(--secondary-color);
    transform: rotate(45deg);
}

.all_services .single_service:hover .single_service_icon svg {
    transform: rotate(-45deg);
}

.all_services .single_service:hover h4 {
    color: var(--secondary-color);
}

.all_services .single_service:hover svg {
    fill: var(--secondary-color);
}

.all_services .single_service .single_service_icon {
    border: 2px solid #A5A5A5;
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin: 0 auto;
    transition: all 0.6s;
    margin-bottom: 30px;
    transition: all 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all_services .single_service svg {
    height: 40%;
    fill: #A5A5A5;
}

.all_services .single_service h4 {
    color: #797979;
    ;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
    transition: all 0.6s;

}

.all_services .srv {
    width: calc(100% / 3);
}
.all_services .single_service p {
    color: #A5A5A5;
    line-height: 2rem;
    font-size: 14px;
}

.all_services .separator3 {
    background-color: #797979;
    ;
    width: 10%;
    height: 2px;
    margin: 25px auto;
}

@media (max-width:1199px) {
    .all_services .srv {
        width: calc(100% / 2);
    }

    .services {
        padding: 10px 20px;
    }

    .all_services .single_service p {
        margin-bottom: 0;
    }
    .all_services .srv:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .all_services .srv {
        width: 100%;
    }
    .services .row {
        flex-direction: column;
    }
    .main-title {
        font-size: 24px;
    }
}

/* Start Dentist Radiology */
.dentist,
.radiology__center {
    margin-bottom: 70px;
}

.dentist .owl-carousel .owl-stage,
.radiology__center .owl-carousel .owl-stage {
    display: flex;
    gap: 10px;
}

.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item .testimonial-item * {

    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item h5,
.testimonial-carousel .owl-item.center .testimonial-item p {
    color: #ffffff !important;
    transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
}

.testimonial-carousel .owl-item .testimonial-item h5,
.testimonial-carousel .owl-item .testimonial-item p {
    color: #000000 !important;
}

.testimonial-carousel .owl-item {
    width: 29%;
    background-color: #edf0f7;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background-color: var(--secondary-color);
    transition: background 0.5s ease;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
}

.testimonial-carousel img {
    object-fit: cover;
}

.testimonial-carousel .info h5 {
    font-size: 18px !important;
}

.testimonial-carousel .info {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonial-carousel .owl-item .testimonial-item .info i {
    width: 20px;
    margin-right: 5px;
    aspect-ratio: 1 / 1;
    color: var(--secondary-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.testimonial-carousel .owl-item.center .testimonial-item .info i {
    color: #ffffff;
}

.testimonial-carousel .info p {
    font-size: 14px;
}

.testimonial-carousel .owl-nav {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin: 0 12px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: var(--secondary-color);
    border-radius: 60px;
    font-size: 14px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background-color: var(--secondary-color);
    color: #fff;
}

/* .dentist .container-xxl {
    padding-left: 0 !important;
    padding-right: 0 !important;
} */

@media (max-width: 1199px) {
    /* .owl-item {
        width: calc(100% / 3) !important;
    }
    .testimonial-carousel .owl-nav {
        display: none;
    }
    .testimonial-carousel .owl-item.center .testimonial-item h5 {
        font-size: 16px !important;
    }  */
    /* .dentist .container-xxl {
        padding-left: 0 !important;
        padding-right: 0 !important;
    } */
}

/* @media (max-width: 767px) {
    .owl-item {
        width: 100% !important;
    }
} */

/* Start Footer */
footer {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer .logo img {
    width: 200px;
    margin-top: -20px;
    margin-left: -25px;
}

footer .store {
    display: flex;
    flex-direction: column;
}

footer .store img,
footer .list p {
    margin-bottom: 20px;
}

footer .store img {
    width: 150px;
}

footer .list p,
.follow__us p {
    color: #000;
    font-size: 18px;
    font-weight: 400;
}

footer .social i {
    margin-right: 10px;
    margin-top: 19px;
}

footer .fa-square-facebook {
    color: #3b5998;
}

footer .fa-linkedin {
    color: #0077b5;
}

footer .fa-square-x-twitter {
    color: #14171a;
}

.footer__faq .social i {
    margin-top: 0;
}

@media (max-width:1199px) {
    footer {
        flex-direction: column;
        padding: 20px;
        gap: 15px;
    }
}

/*----------------- Faq Page ------------------*/
h1 {
    margin: 0;
}

.main-content {
    width: 100%;
    padding: 50px;
    position: relative;
    overflow: hidden;
}

.main-content::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 65%;
    background-color: var(--secondary-color);
    top: 0;
    left: 0;
    z-index: -1;
    border-style: solid;
    border-width: 0px 0px 140px 100vw;
    border-color: transparent transparent white transparent;
}

.container {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin: auto;
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 100%;
        padding: 0;
    }
}

@media (max-width: 900px) {
    .main-content {
        padding: 20px;
    }

    .main-content h1 {
        font-size: 24px;
        padding-top: 30px;
    }

    .accordion-button {
        padding: 0.5px;
    }
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 100%;
    }
}

.accordion-header {
    border: 1px solid #E1E1E1;
}

.accordion-body {
    padding: 25px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 25px -3px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.accordion-button {
    padding: 1rem 0.75rem;
}

.circle-icon {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:767px) {
    .circle-icon svg {
        width: 21px;
    }
}

.accordion-item {
    border: 0px !important;
    margin-bottom: 20px;
}

.accordion-button:not(.collapsed) {
    border: 0px !important;
    color: var(--secondary-color);
    background-color: #ffffff;
    box-shadow: inset 0 0px 0 rgb(0 0 0 / 13%);
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button::after {
    margin-right: 10px;
}

/* Faq Footer */
.footer__faq {
    align-items: center;
    border-top: 1px solid #E1E1E1;
}

.footer__faq .logo__text {
    font-size: 20px;
    font-weight: 500;
    color: var(--secondary-color);
}

.footer__faq .logo__text span {
    color: var(--primary-color);
}

.footer__faq .middle__text {
    color: #B3B3B3;
}

.footer__faq .fa-brands {
    margin-left: 10px;
}

/*---------------------- Logins & Sign Up ----------------------*/
.signIn {
    width: 100%;
    height: calc(100vh - 74.4px);
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    overflow: hidden;
}

.signIn .leftSide {
    width: 60%;
    height: calc(100vh - 60px);
    overflow: hidden;
}

.signIn .leftSide img {
    width: 100%;
    height: 100%;
    margin: auto 0;
    object-fit: cover;
}

.signIn .rightSide {
    width: 40%;
    margin: auto 0;
    text-align: center;
}

.signIn .heading {
    margin-bottom: 30px;
}

.signIn .rightSide h2 {
    font-size: 35px;
    font-weight: 700;
    color: var(--secondary-color);
}

.signIn .rightSide p {
    font-size: 16px;
    font-weight: 400;
    color: #B3B3B3;
}

.signIn .rightSide form {
    width: 100%;
}

.signIn .rightSide input,
select,
input,
.inputfile+label {
    width: 100%;
    padding: 13px 20px 13px 15px;
    background-color: transparent;
    border: none;
    outline: none;
    border: 1px solid #A5A5A5;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

select {
    width: 100%;
    background-color: transparent;
    -webkit-appearance: none;
    appearance: none;
}

.signUp {
    height: 100%;
}

.signUp .signInEmail {
    position: relative;
}

.error-message,
.error-message {
    color: #ff0000;
    display: none;
    font-size: 14px;
    text-align: left;
    padding: 5px 0 0 5px;
}

.signUp .signInName .icon {
    position: absolute;
    width: 30px;
    top: 13%;
    right: 9px;
    z-index: -1;
}

.signUp .signInEmail .icon {
    position: absolute;
    width: 22px;
    top: 19%;
    right: 2%;
}

.signUp .signInName .icon svg,
.signUp .signInEmail .icon svg {
    fill: #5f5f5f;
}

.signUp .sign__btn {
    width: 50%;
    margin-bottom: 20px;
    padding: 13px 20px 13px 15px;
    background-color: #fff;
    color: var(--secondary-color);
    border: 1px solid #A5A5A5;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    border-radius: 10px;
}

.signUp .sign__btn:hover,
.signUp .sign__btn.active {
    background-color: var(--secondary-color);
    color: #fff;
    border-color: var(--secondary-color);
}

@media(max-width:400px) {
    .signUp .sign__btn {
        font-size: 14px;
    }
}

#meeting-time {
    padding-right: 8.5px;
}

input::placeholder,
textarea::placeholder {
    font-size: 14px;
}

/* Show & Hide Password */

.SignInPassword .inputBox .icon {
    position: relative;
}

.SignInPassword .inputBox input:is(:focus, :valid) {
    border-color: var(--secondary-color);
}

.SignInPassword .inputBox :is(label, i) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    transition: all 0.2s linear;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.SignInPassword .inputBox i {
    right: 15px;
    cursor: pointer;
    font-size: 20px;
}

.SignInPassword .inputBox input:is(:focus, :valid)~i {
    color: var(--secondary-color);
}

/* End Show & Hide Password */
.rightSide .forget__password {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-left: 10px;
}

.rightSide a {
    text-decoration: none;
    color: var(--secondary-color);
}

.signInSubmit input[type="submit"] {
    background-color: var(--secondary-color);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid var(--secondary-color);
}

.dont__account p {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin-top: -5px;
}

.dont__account a {
    margin-left: 5px;
}

.signUp .signInName,
.signUp .btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: auto;
}

.signInEmail,
.signInPassword,
.signInSubmit,
.forget__password,
.signInPhone,
.signInName div,
.inputBox {
    margin-bottom: 15px;
    text-align: left;
}

.signUp .signInSubmit {
    margin-bottom: 0;
}

.signUp .signInName div {
    width: 50%;
}

.signUp .btn {
    width: 50%;
    text-align: center;
}

.signUp .btn {
    color: var(--secondary-color);
}

.signUp .btn:hover {
    border: 1px solid var(--secondary-color);
    color: #fff;
}

.signUp .btn:hover::before {
    box-shadow: inset 0 0 0 10em var(--secondary-color);
}

.signUp .btn.active {
    background-color: var(--secondary-color);
    color: #fff;
    z-index: 2;
}

@media(max-width:1199px) {
    .signIn {
        width: 100%;
        height: auto;
        padding: 15px 20px;
        flex-direction: column;
        padding-top: 0;
    }

    .signIn .leftSide {
        width: 100%;
        height: auto;
    }

    .signIn .leftSide img {
        width: 100%;
        height: 100%;
    }

    .signIn .rightSide {
        width: 100%;
        margin: 0;
    }

    .signIn .rightSide h2 {
        font-size: 30px;
        margin-top: 50px;
    }

    .signIn .rightSide p {
        font-size: 14px;
    }

    .signUp .btn:hover::before {
        box-shadow: none;
    }

    .signUp .btn {
        border: 1px solid var(--secondary-color);
        color: var(--secondary-color);
    }

}

/* Contact Page*/
.getTouch {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px 50px;
    margin-top: 10px;
}

.getTouch .left {
    width: 65%;
}

.getTouch .left h3 {
    font-size: 35px;
    font-weight: 500;
    color: var(--secondary-color);
    margin-bottom: 10px;
}

.getTouch .left p {
    color: #B3B3B3;
}

.getTouch .left div {
    margin-bottom: 30px;
}

.getTouch input {
    width: 80%;
}

.getTouch .right {
    width: 35%;
    margin-left: 30px;
}

.getTouch .right img {
    width: 100%;
    margin-left: -60px;
}

.getTouch .right .contact {
    width: 100%;
    margin-top: 20px;
}

.getTouch .right .contact div:not(:last-child) {
    margin-bottom: 10px;
}

.getTouch .contact i {
    width: 40px;
    padding: 10px;
    background-color: #fff;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.getTouch .contact i:hover {
    background-color: var(--secondary-color);
    color: #fff;

}

.getTouch .contact span {
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--secondary-color);
}

textarea {
    border: none;
    outline: none;
    width: 80%;
    min-height: 310px;
    padding: 10px 15px;
    resize: none;
    border: 1px solid #A5A5A5;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@media (max-width: 1199px) {
    .getTouch {
        flex-direction: column;
        padding: 15px 20px;
    }

    .getTouch .left,
    .getTouch .right {
        width: 100%;
    }

    .getTouch img {
        display: none;
    }

    .getTouch input,
    .getTouch textarea {
        width: 100%;
    }

    .getTouch .right {
        margin-left: 0;
        margin-top: -20px;
        margin-bottom: 10px;
        margin: -20px 0 10px 0;
    }

}



/*  */

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    text-align: left;
    position: relative;
}

.inputfile+label svg {
    width: 18px;
    vertical-align: middle;
    fill: #5f5f5f;
    margin-top: -4px;
    margin-right: 4px;
    position: absolute;
    right: 9px;
    top: 39%;
}

.inputfile-2+label {
    color: #B3B3B3;
}

/* Otp Page */
.otp .rightSide {
    padding-left: 10px;
}

.otp .input-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    /* gap: 45px; */
}

.otp .input-field input {
    width: 10%;
    text-align: center;
    aspect-ratio: 1 / 1;
    padding: 0;
}

.otp .input-field input::placeholder {
    text-align: center;
}

.otp .resendCode {
    color: #B3B3B3;
    margin: 25px;
}

.otp .resendCode a {
    margin-left: 5px;
}

.otp .heading p {
    margin-bottom: 0;
}

.otp .signInSubmit input.disabled {
    color: #5f5f5f;
    background-color: #A5A5A5;
    border-color: #A5A5A5;
}

@media (max-width: 1199px) {
    .otp .input-field input {
        width: 8%;
    }
}

@media (max-width: 767px) {
    .otp .input-field input {
        width: 12%;
    }

    .otp .input-field {
        gap: 0;
    }

    .otp .resendCode {
        font-size: 14px;
    }
}

/*------------------------ Success Page ---------------------------*/
.success .heading__p {
    margin-top: 20px;
}

/*------------------------ Sidebar ---------------------------*/
.services__page {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 50px;
}

.sidebar {
    min-width: 7%;
    height: calc(100vh - 108.8px);
    object-fit: contain;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 15px;
    box-shadow: 1px 1px 6px 0px rgba(0, 105, 95, 0.2);
    border: 1px solid #e1e1e1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.sidebar .list {
    height: 92%;
    padding: 20px;
    text-align: center;
    fill: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .list .icon {
    width: 50px;
    height: 50px;
    padding: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.sidebar .list .icon.active,
.sidebar .list .icon:hover {
    fill: #fff;
    background-color: var(--secondary-color);
}

@media(max-width: 1199px) {
    nav .user {
        display: none;
    }

    .services__page {
        padding: 20px 20px;
    }

    .page__content {
        width: 100%;
    }

    .sidebar {
        width: 100%;
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 3;
        height: 75px;
        margin-right: 0;
    }

    .sidebar .list {
        height: 100%;
        flex-direction: row;
        padding: 13px 10px;
    }
}

/*------------------------ Sidebar list 1 ---------------------------*/

.page__content {
    width: 93%;
}

.page__content .content.active,
.page__content .cont.active {
    display: block;
}

.page__content .content.inactive,
.page__content .cont.inactive {
    display: none;
}

.enter__xray {
    width: 100%;
    text-align: center;
}

.enter__xray .box {
    width: 100%;
    padding: 0;
    background: #fff;
    border-radius: 10px;
    border: 2.5px dashed #E1E1E1;
    height: calc(100vh - 170px);
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.enter__xray .drag-area {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    color: var(--secondary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.enter__xray h3 {
    font-size: 30px;
    font-weight: 700;
    color: var(--secondary-color);
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
}

.enter__xray .drag-area .icon {
    font-size: 100px;
}

.enter__xray .drag-area .support {
    font-size: 12px;
    color: gray;
    margin: 10px 0 15px 0;
}

.enter__xray .drag-area .button {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.enter__xray .drag-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.enter__xray .upload__button {
    width: 100%;
    margin-top: 20px;
}

.enter__xray .btn {
    width: 25%;
    display: inline-flex;
    justify-content: center;
}

.enter__xray .btn svg,
.next__xray .btn span svg {
    width: 20px;
    aspect-ratio: 1 / 1;
    margin-right: 10px;
}

.enter__xray .btn svg g,
.next__xray .btn span svg,
.next__xray .btn span path {
    fill: var(--secondary-color);
}

.enter__xray .btn:hover svg g,
.next__xray .btn:hover span svg,
.next__xray .btn:hover span path {
    fill: #fff;
}


/*------------------------ Sidebar list 2 ---------------------------*/

.message__reports,
.radiology__center,
.calender,
.settings {
    width: 100%;
}

.message__reports .row,
.radiology__center .row,
.calender .row,
.settings .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.message__reports .reports,
.message__reports .details,
.radiology__center .reports,
.radiology__center .details,
.calender .reports,
.calender .details,
.settings .reports,
.settings .details {
    height: calc(100vh - 108.8px);
    overflow-y: scroll;
    box-shadow: 1px 1px 6px 0px rgba(0, 105, 95, 0.2);
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.page__content .reports {
    width: 40%;
}

.page__content .details {
    width: 60%;
    margin-left: 10px;
}

.page__content .details .custom__heading {
    font-size: 22px;
    font-weight: 500;
    color: var(--secondary-color);
    text-align: center;
    margin: 10px 0;
}

.page__content .details .custom__heading~p {
    font-size: 16px;
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 20px;
}

/* Message */
.page__content h3 {
    width: 100%;
    color: #fff;
    background-color: var(--secondary-color);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.page__content .reports .search__container {
    position: relative;
}

.page__content .reports .search__container i {
    position: absolute;
    top: calc(50% - 17px);
    right: 25px;
    color: #B3B3B3;
}

.page__content div input {
    margin-bottom: 20px;
}

.page__content .reports>div:not(:nth-child(odd)) {
    margin: 0 15px;
}

.message {
    background-color: #fff;
    padding: 15px;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.message:hover {
    background-color: #eee;
    padding: 15px;
}

.message img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;
}

.message .img__name {
    display: flex;
    align-items: center;
}

.message .name__message {
    margin-left: 10px;
}

.message .name__message h6 {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin-bottom: 10px;
}

.message .name__message p {
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
}

.message .date__unread {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.message .date__unread .date {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
}

.message .date__unread .unread {
    width: 5px;
    height: 5px;
    background-color: var(--secondary-color);
    padding: 5px;
    margin-top: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* Right Side */
.details form input {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.details .logo {
    text-align: center;
}

.details .logo img {
    width: 50%;
}

.details form {
    margin: 0 15px;
}

.details form .row {
    gap: 10px;
}

.details form .row:last-child {
    margin-bottom: 30px;
}

.details .x_ray {
    width: 100%;
}

.details .x_ray .box {
    margin: 15px;
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.details .x_ray img {
    width: 100%;
}

.page__content .doctor img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;
    margin: 15px 0;
}

.scan_xray.hide {
    display: none;
}

.next__xray.hide {
    display: none;
}

.next__xray img {
    width: 100%;
}

.next__xray .box {
    position: relative;
}

.next__xray .title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    background-color: var(--secondary-color);
    color: #fff;
    padding: 15px 30px;
    border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

/* Calender */
.calender .reports,
.calender .details {
    height: calc(100vh - 163.8px);
}

.calender .patients {
    width: 40%;
}

.calender .information {
    width: 60%;
    overflow-y: visible;
}

.calender .btn {
    width: 50%;
}

.calender .message .name__message {
    margin-left: 0;
}

.calender .patients__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: var(--secondary-color);
    position: sticky;
    top: 0;
    background-color: #fff;
}

.calender .patients__header div {
    width: calc(100% / 3);
    padding: 10px;
    margin: 0;
    cursor: pointer;
}

.calender .patients__header div.active {
    border-bottom: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: #fff;
}

.calender .patients__header h4,
.calender .patients__header p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.calender .patients__header p {
    margin-bottom: 0;
}

.calender .reports>div:not(:nth-child(2n+1)) {
    margin: 0;
}

.calender .date__patients {
    display: flex;
    flex-direction: row;
}

.calender .date__patients div:nth-child(1) {
    margin-right: 20px;
}

.calender .search__container {
    width: calc(60% - 7px);
}

.calender .search__container input {
    margin-bottom: 10px;
}

.calender .new__send {
    width: calc(40% - 4px);
    margin-bottom: 10px;
    gap: 10px;
}

.calender textarea {
    width: 100%;
    min-height: 20px;
    margin-bottom: 40px;
}

.calender .information {
    height: fit-content;
}

.calender div div:nth-child(2).hidden {
    display: none;
}

.calender i {
    font-size: 16px;
    margin-left: 10px;
    text-align: center;
}

.calender .btn:hover i {
    color: #fff;
}

/*
    Settings
*/
.settings .reports {
    width: 25%;
}

.settings .reports {
    width: 25%;
    overflow-y: visible;
}

.settings .details {
    width: 75%;
    overflow-y: scroll;
}

.settings .details h3 {
    position: sticky;
    top: 0;
}

.settings .list {
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: var(--secondary-color);
}

.settings .list div {
    padding: 25px;
    background-color: #fff;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.settings .list div:hover {
    color: #fff;
    background-color: var(--secondary-color);
}

.settings .list i {
    font-size: 20px;
    margin-right: 10px;
}

.settings h4 {
    margin: 15px;
    font-size: 20px;
    color: var(--secondary-color);
    text-align: left;
}

.settings label {
    display: inline-block;
    color: var(--secondary-color);
    margin-bottom: 10px;
}

.settings .details form {
    margin: 0;
}

.settings .details form div {
    margin: 0 15px;
}

.settings .details form p {
    position: relative;
}

.settings .details form i {
    position: absolute;
    top: 25%;
    right: 10px;
    color: var(--secondary-color);
    cursor: pointer;
}

.settings .doctor div {
    position: relative;
}

.settings .doctor i {
    position: absolute;
    top: 70%;
    left: 56%;
    color: #fff;
    padding: 15px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}

.rating {
    display: inline-block;
    margin-top: -10px;
}

.rating input {
    display: none;
}

.rating label {
    float: right;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
}

.rating label:before {
    content: '\2605';
    font-size: 35px;
}

.rating input:checked~label,
.rating label:hover,
.rating label:hover~label {
    color: #e58e09;
    transition: color 0.3s;
}

.security .list__items {
    border-bottom: 1px solid var(--secondary-color);
}



.subscription {
    width: 100%;
}

.subscription .row {
    width: 100%;
    text-align: center;
    justify-content: space-between;
    padding: 0 15px;
    gap: 10px;
    color: var(--secondary-color);
}

.premium,
.basic,
.enterprise {
    width: 33%;
    padding: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.subscription h6 {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 500;
}

.subscription .dis {
    margin-bottom: 30px;
}

.premium div,
.basic div,
.enterprise div {
    font-size: 70px;
    font-weight: 700;
}

.premium div span,
.basic div span,
.enterprise div span {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
}

.subscription .btn {
    width: 100%;
}


.saved__payment .radio {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px 5px 10px;
    margin: 20px auto;
    border: 1px solid #e1e1e1;
    background: linear-gradient(to bottom, white, #F4F4F4);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.saved__payment .payment {
    width: 100%;
}

.saved__payment .radio * {
    align-self: center;
}

.saved__payment .check {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.radio input[type=radio] {
    width: 30%;
    margin: 0px;
}

.radio img {
    width: 70%;
    position: relative;
    left: 25px;
}

.radio label {
    text-align: right;
    padding: 10px 0;
}

.saved__payment .col {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


.delete__account p {
    margin: 15px;
    font-size: 20px;
    color: var(--secondary-color);
    margin-bottom: 30px;
}


@media(max-width: 1199px) {
    .page__content {
        width: 100%;
    }

    .message__reports .row,
    .radiology__center .row,
    .calender .row,
    .settings .row {
        flex-direction: column;
    }

    .message__reports .reports,
    .radiology__center .reports,
    .calender .reports,
    .settings .reports {
        width: 100%;
        margin-bottom: 20px;
    }

    .settings .reports {
        height: fit-content;
        padding-bottom: 10px;
    }

    .settings .list__items span {
        display: none;
    }

    .settings .menu {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .settings .menu div {
        text-align: center;
        padding: 15px;
        width: 25%;
    }

    .settings .menu i {
        margin-right: 0;
    }

    .message__reports .details,
    .radiology__center .details,
    .calender .details,
    .settings .details {
        width: 100%;
        margin-left: 0;
        margin-bottom: 70px;
    }

    .enter__xray .upload__button {
        margin-bottom: 70px;
    }

    .calender .search__container {
        width: 100%;
    }

    .calender .btn,
    .calender .new__send {
        width: 100%;
    }

    .calender .row:nth-child(1) {
        margin-bottom: 10px;
    }

    .calender .information {
        height: calc(100vh - 270px);
    }

    .calender .information .row {
        gap: 0;
    }

    .calender .information textarea {
        margin-bottom: 20px;
    }

    .calender .information .row .btn {
        margin-bottom: 10px;
    }

    .next__xray .upload__button button:first-child {
        margin-bottom: 10px;
    }
}

@media(max-width: 767px) {
    .enter__xray .btn {
        width: 100%;
    }
}




.download__app {
    width: 100%;
    padding: 0 50px;
    margin-bottom: 70px;
}

.download__app .row {
    flex-wrap: nowrap;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 30px;
    margin: 0;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.download__app .store {
    display: flex;
    justify-content: flex-start;
}

.download__app .owl-stage {
    display: flex;
}

.screenshot-carousel {
    position: relative;
    width: 253px;
    height: 500px;
    padding: 15px;
    margin-right: 30px;
}

.screenshot-carousel::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../images/screenshot-frame.png) center center no-repeat;
    background-size: 253px 500px;
    z-index: 1;
}

.screenshot-carousel .owl-item img {
    position: relative;
    width: 223px;
    height: 470px;
    object-fit: cover;
}

.screenshot-carousel .owl-dots {
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.screenshot-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 5px 0;
    width: 15px;
    height: 15px;
    background: #FFFFFF;
    border-radius: 15px;
    transition: .5s;
}

.screenshot-carousel .owl-dot::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    top: 5px;
    left: 5px;
    background: var(--secondary-color);
    border-radius: 5px;
}

.screenshot-carousel .owl-dot.active {
    box-shadow: 0 0 10px #000;
}

.download__app .screenshots {
    width: 45%;
}

.download__app .content {
    width: 55%;
}

.download__app .screenshots {
    justify-content: flex-end;
}

.download__app p {
    margin-bottom: 50px;
    line-height: 2;
}

.download__app h1 {
    margin-bottom: 50px;
    line-height: 1.6;
}

.download__app .store {
    width: 100%;
    margin-bottom: 50px;
}

.download__app a img {
    width: 130px;
}

@media (max-width: 1199px) {
    .download__app {
        height: auto;
        text-align: center;
        padding: 0 20px;
    }

    .download__app .container {
        padding: 0;
    }

    .download__app .row {
        flex-direction: column;
        padding-right: 10px;
        padding-left: 10px;
    }

    .download__app .screenshots {
        width: 100%;
    }

    .download__app .content {
        width: 100%;
    }

    .download__app .screenshots {
        justify-content: center;
    }

    .download__app h1,
    .download__app p,
    .download__app .store {
        margin-bottom: 30px;
    }

    .download__app .store {
        justify-content: center;
        gap: 10px;
    }
}

@media (max-width: 550px) {
    .download__app h1 {
        font-size: 26px;
    }

    .download__app .store img {
        width: 100%;
    }

    .download__app .store {
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
    }

    .download__app .store div:nth-last-child(3) {
        margin-bottom: 5px;
    }
}

@media (max-width: 450px) {
    .download__app h1 {
        font-size: 23px;
    }

    .download__app .store {
        justify-content: center;
    }

    .download__app .store div {
        width: 45%;
    }
}